.App {
  font-family: helvetica;
  font-size: 16px;
}

img {
  border-radius: 50%;
}

.greeting {
  font-size: 3vh;
  margin-bottom: -3vh;
}

.nameBox {
  padding-left: 4vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.userName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
  padding: 1vw;
}

.profileBox {
  font-size: 3vh;
  border-radius: 2px;;
  background-color: #d7e6eb;
  height: auto;
  padding: 2vh;
  width: 60vh;
  margin: 5vh auto
}